.container {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
}
.logo {
  margin-left: 2rem;
  cursor: pointer;
  height: 8rem;
  width: 40rem;
}
.phone {
  height: 3rem;
  display: inline-flex;
  margin-left: auto;
  margin-right: 2rem;
}
.container h4 {
  font-size: 2rem;
}

@media (max-width: 768px) {
  .logo {
    width: 5rem;
    height: 1rem;
  }
  .phone {
    height: 1rem;
    justify-content: flex-end;
  }
}
