.container {
  width: 80%;
  background-color: #000e42;
  margin: auto;
  padding: 0;
  text-align: center;
}

.container h1 {
  display: inline-block;
  font-size: 4rem;
  color: #eee;
}
.container p {
  padding: 1rem;
  display: inline-block;
}
@media (max-width: 768px) {
  .container {
    width: 200%;
  }
}
