.container {
  background-color: #eee;
  width: 80%;
  margin: auto;
  text-align: center;
}
.container h1 {
  display: inline-block;
  font-size: 4rem;
  color: #000e42;
}
.control label {
  display: block;
  font-size: 4rem;
  text-align: center;
}
.control input,
.control textarea {
  font-size: 4rem;
  text-align: center;
}
.container button {
  font-size: 4rem;
}
